html {
  overflow:none;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}
* {
  cursor: url('/cursors/windows7_arrow.cur'),auto;
}
p {
  cursor: url('/cursors/beam_r.cur'),auto;
}
body {
  background: url("/C:/wallpapers/linus.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0;
  margin:0;
  height:100%;
}
.iconContainer {
  margin:20px;
  display: grid;
  grid-template-columns: repeat(10, 80px);
  grid-template-rows: repeat(10, 80px);
  justify-content: start;
  align-items: center;
  text-align:center;
}
/*Drgable */
.icondiv {
}
.iconText {
  margin:5px;
  margin-top:-5px;
  font-size:9pt;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:white;
  text-shadow: black 2px 2px 2px;
}
.iconClickable {
  width:48px;
  height:48px;
  margin:5px;
}

.window {
  position: absolute;
  /*resize: both; !*enable this to css resize*! */
  overflow: hidden;
  z-index: 9999;
  height:auto;
  top:20px;
}
.needMinHeight {

  min-width:500px;
  min-height:200px;
}

.window .resizer-right {
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}
.window .resizer-bottom {
  width: 100%;
  height: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}
.window .resizer-both {
  width: 5px;
  height: 5px;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

.title-bar {
  cursor: move;
  z-index: 10;
  color: #ffffff;
  background-color: deepskyblue;
  padding:5px;
}
/*Resizeable*/


.tabs {
  padding:0px;
  margin:0px;
}


#footer {
  height: 50px;
  position: absolute;
  bottom:0%;
  width: 100%;
  margin:0;
  padding:0;
  display:grid;
}
#footer #footer-background {
  box-shadow:black 4px -4px 5px;
  backdrop-filter: blur(4px);
  background-color:#0467cc;
  opacity:30%;
  padding:0;
  margin:0;
  width:100%;
  height:50px;
  position:absolute;
  grid-column:1;
  grid-row:1;
}
#footer #start-button {
  left:0;
  width:50px;
  height:auto;
  position:relative;
  grid-column:1;
  grid-row:1;
}