html {
  overflow:none;
  cursor: url('/cursors/default_arrow.cur'),auto;
  width:100%;
  height:100%;
}
p {
  cursor: url('/cursors/beam_r.cur'),auto;
}
body {
  background: url("/C:/wallpapers/linusXP.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.iconContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align:center;
}
/*Drgable */
.icondiv {
  /*transform: translate(-48%, 0);*/

  flex: 0 0 90px;
}
.iconText {
  margin:5px;
  margin-top:-5px;
  font-size:13px;
}
.iconClickable {
  width:60px;
  height:60px;
  margin:5px;
}

.window {
  position: absolute;
  /*resize: both; !*enable this to css resize*! */
  overflow: hidden;
  background: white;
  background-image: linear-gradient(to bottom right, #006eff, #00d5ff);
  z-index: 9;
  width:600px;
  height:auto;
}
.needMinHeight {

  min-width:500px;
  min-height:200px;
}
.window * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}
.window .resizer-right {
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}
.window .resizer-bottom {
  width: 100%;
  height: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}
.window .resizer-both {
  width: 5px;
  height: 5px;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

.title-bar {
  cursor: move;
  z-index: 10;
  color: #ffffff;
  background-color: deepskyblue;
  padding:5px;
}
.preview {
  background: url("/C:/wallpapers/linusXP.png") no-repeat center center;
  width:426px;
  height:240px;
  padding:0;
  margin:0;
}
/*Resizeable*/


.tabs {
  padding:0px;
  margin:0px;
}
/*NOSELECT*/





/* Style page content */
